#card {
    height: 350px;
    margin: 10px 0;
}

#card_img{
    object-fit: cover;
    height: 350px;
    opacity: 0.3;
}

#card_title{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#card_content{
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#card_user img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

#card_user{
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
}


